* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #efeee9;
  font-family: muli, sans-serif;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

.aboutus {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #055946;
}

.aboutus div {
  text-align: center;
}

.text_about {
  margin-bottom: 3rem;
}

.h2_about {
  color: #055946;
  font-size: 3rem;
  font-family: bely-display, sans-serif;
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 601px) {
  .h2_about {
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
}

.text_section {
  display: grid;
  gap: 3rem;
  align-items: start;
  margin: 2rem;
}

.text_section p {
  line-height: 2rem;
}

.pictures {
  display: grid;
  gap: 0.5rem;
}

.text_section:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 601px) {
  .text_section {
    grid-template-columns: 2fr 1fr;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-bottom: 7rem;
  }
}

.findus {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #055946;
}

.h2_stores {
  color: #055946;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: bely-display, sans-serif;
}

h1 {
  color: #f4becd;
  font-size: 4rem;
}

p {
  color: black;
  font-size: 1.2rem;
}

form {
  padding: 2rem;
  background: #e5e4de;
  border-radius: 8px;
}

button {
  cursor: pointer;
  outline: 0;
  color: white;
  background-color: #055946;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 25px;
  font-size: 19px;
  font-family: bely, serif;
  margin-top: 20px;
  border-radius: 5px;
}

.form-felt {
  display: grid;
  gap: 0.5rem;
}

.h2_contact {
  color: #055946;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: bely-display, sans-serif;
}

.p_contact {
  font-size: 1.3rem;
  line-height: 2rem;
}

.formular_section {
  display: grid;
  gap: 3rem;
  align-items: start;
  margin: 2rem;
}

@media (min-width: 601px) {
  .formular_section {
    grid-template-columns: 1fr 1fr;
    margin: 10rem;
  }
}

.stores_section {
  display: grid;
  gap: 3rem;
  align-items: start;
  margin-bottom: 5rem;
}

@media (min-width: 601px) {
  .stores_section {
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-bottom: 7rem;
  }
}

.h2_stores {
  color: #055946;
  font-size: 3rem;
  font-family: bely-display, sans-serif;
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 601px) {
  .h2_stores {
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
}

.text_stores {
  color: #055946;
  text-align: center;
}

.text_stores h2 {
  color: #055946;
  text-align: center;
}

.store_place {
  line-height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.opening_hours {
  line-height: 1.5rem;
}

.sunday_holidays {
  margin-top: 1.5rem;
}

.sunday {
  margin-top: 1.5rem;
}

.holidays {
  margin-top: 1.5rem;
}

.saturday {
  margin-top: 1.5rem;
}

h3 {
  font-weight: bold;
}

.contact_section {
  text-align: center;
}

@media (min-width: 601px) {
  .contact_section {
    text-align: left;
  }
}

textarea {
  resize: none;
  width: 246px;
  height: 86px;
}

@media (min-width: 601px) {
  textarea {
    resize: none;
    width: 552px;
    height: 138px;
  }
}
