
*{
 padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  --primary: #055946;
  --secondary: #F4BECD;
}

header{
  background-color:var(--secondary);
  position: fixed;
  width: 100%;
  top: 0;


}

li{
  list-style: none;
          font-family: bely, serif;
        font-weight: 100;
        font-style: normal;
        color: var(--primary);
        font-size: 1.2rem;
}




a{
  color: var(--primary);
text-decoration: none;

}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;


}

.nav-menu{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 60px;
  height: 100%;
}

.nav-branding{
  font-family: bely-display, sans-serif;
  font-size: 2rem;
}

.nav-link{
  transition: 0.7 ease;

}

.nav-link :hover{
  font-weight: bolder;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display:block;
  width: 25px;
  height: 3px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: var(--primary);
}

@media(max-width:600px){
  .hamburger{
    display: block;
  }

.harmburger.active .bar:nth-child(2){
  opacity: 0;
}


li{
  list-style: none;
          font-family: bely, serif;
        font-weight: 100;
        font-style: normal;
        color: var(--primary);
        font-size: 2rem;
}


.harmburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.harmburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  position: fixed;
  transform: translatex();
  left: -100%;
  top: 70px;
  gap:0;
  flex-direction: column;
background-color: var(--secondary);
width: 100%;
text-align: center;

}

.nav-item{
  margin: 16px;
  
}

.nav-menu.active{
left: 0;
}

}


    h1{
        font-family: bely-display, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    h2{
        font-family: bely, serif;
        font-weight: 100;
        font-style: normal;
        color: white;
    }
p{
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

    .color1{
        color: #055946;
        }
        
        .color2{
        color: #F4BECD;
        }


        


.wolt_knap{
  width: 4rem;
  top: 91%;
  left: 100%;
margin-right: 10px;
  transform-origin: center;
position: sticky;
transition: scale .5s

}
.wolt_knap:hover{
 scale: 1.2;

}