html{
  --primary: #055946;
  --secondary: #F4BECD;

}





    h1{
        font-family: bely-display, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    h2{
        font-family: bely, serif;
        font-weight: 700;
        font-style: normal;
    }
p{
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}

    .color1{
        color: #055946;
        }
        
        .color2{
        color: #F4BECD;
        }


        

        /*******header**********/
        .banner {
            background:#F4BECD;
            padding: 1rem;
            display: flex;
          justify-content: space-between ;
          align-content: center;
          align-items: center;
          }
          

          .main-menu ul {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 20px;
        }

        .logo a{
            font-family: bely-display, sans-serif;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            color: #055946;
            font-size: 2rem;

        }

        li a{
            font-family: muli, sans-serif;
            font-weight: 800;
            text-decoration: none;
            color: #055946;
        }
        li a:hover{
     
            color: #03362a;
        }


        /*******BURGERMENU**********/ 
        .toggle-btn {
            background: transparent;
            border: none;
            min-width: 44px;
            min-height: 44px;
            font-size: 1.1rem;
            cursor: pointer;
            display: none;;
             /* Skjul knappen som standard */
          }


          @media (max-width: 600px) {
            .toggle-btn {
              display: block;
               /* Vis knappen, når viewporten maksimalt er 600px */
          ;
            }
          
            .main-menu {
          display: contents;
          display:block;
          
               /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
            }
          
            .main-menu ul {
              display: none;
          
           /* Fjern menu-listen som standard */
            }
          
            .main-menu.shown ul {
              /* Vis menu-listen, når klassen ".shown" er til stede */
              display: flex;
              flex: 1 1 100%;
              flex-flow: column;
              align-items: center;
    
            }
          }




/*woltknap*/
.wolt_knap{
  width: 4%;
  top: 90%;
  left: 95%;
  transform-origin: center;
position: sticky;
transition: scale .5s

}
.wolt_knap:hover{
 scale: 1.2;

}