* {
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
    scroll-behavior: smooth;
  }


body{
    background-color: #efeee9;
    cursor: url(img/custom_cursor_green.svg), auto;
}




img{
    width: 100%;
    display: block;
    object-fit: cover;
    cursor: url(img/custom_cursor_green_hover.svg), auto;
}


.landing{
    height: 800px;
 background-color: #055946;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem;
    cursor: url(img/custom_cursor_pink.svg), auto;
    overflow: hidden;


}


.landing div{
    text-align: center;
}

.landing_text{
    z-index: 2;
    text-align: center;
}



.en{
scale:0.2
}



h1{
    color:#F4BECD;
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 0rem;
    margin-top: 0rem;
}



.landing div p{
     color: white;
margin-top: -0.8rem;
}
.one{
color: white;
text-align: center;
}

h2{
    font-size: 5rem;
}



.button_pink{

    outline: 0;
    color:#055946;
    background-color:white;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 25px;
    font-size:19px;
    font-family: bely, serif;
margin-top: 20px;
    border-radius: 5px;
}


.button_pink:hover{
    background-color:#fddae4;
}


.button_green{
 
    outline: 0;
    color:white;
    background-color:#055946;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 25px;
    font-size:19px;
    font-family: bely, serif;
margin-top: 20px;
    border-radius: 5px;
}


.button_green:hover{
    background-color: var(--secondary);
    cursor: url(img/custom_cursor_green_hover.svg), auto;
}




.events{
    text-align: center;
}


.menu_section2{
    align-items: center;
    height: 700px;
    overflow: hidden;
    margin-left: 5rem;
    margin-right: 5rem;

}
.menu_section2 img{
    height: 100%;
    padding: 2rem;
border-radius: 50px;

}

@media (min-width: 600px){





    .menu_section2{
        display: grid;
        grid-template-columns: 2fr 2fr;
        align-items: center;
        height: 700px;
        overflow: hidden;
        overflow: hidden;
        margin-left: 5rem;
        margin-right: 5rem;
  
    }
    .menu_section2 img{
        height: 100%;
        padding: 2rem;
border-radius: 50px;

    }



    .image_container{
        height: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    }
    
    
    .image_container:hover {
        height: 102%;
        transition: 0.2s ease-in-out;
    }
    
    .image_container img{
        height:100%;
        border-radius: 50px;
        transition: 0.2s ease-in-out;
        transform-origin: center;
    
    }
    
    .image_container img:hover{
        height:100%;
        border-radius: 80px;
    transition: 0.2s ease-in-out;
    
    }
    
.order{
    order: -1;
}

    .text_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .green_text{
        color: #055946;
    }
    .pink_text{
        color:#F4BECD;
    }

    .white_text{
        color: white;
    }
  
   

    .one{
     height: 100%;

        }
        .menu_section2 img{
            height: 100%;
        }


        .events{
            margin-top: 2rem;
            align-items: center;
            height: 800px;
            text-align: center;
display: flex;
flex-direction: column;



}

.events .image_container{
height:30%;
;

}




.events .image_container img{
    height: 100;
}


.events .image_container img:hover{

height: 102%;

}








.socials_text button{
    margin-top: 2rem;
}




}




