/*** css til menu - Emma ***/

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background);
}
main {
  text-align: center;
}

.menu {
  margin: 0 1rem 4rem;
}
.alignleft {
  text-align: left;
}
h2,
p,
h3,
li {
  color: var(--primary);
}
h1 {
  color: var(--secondary);
  font-size: 4rem;
}
h3 {
  font-size: 1.2rem;
  font-family: bely, sans-serif;
  padding-top: 14px;
}
.menu li {
  font-size: 1rem;
  font-family: muli, sans-serif;
  padding-top: 14px;
  font-weight: 400;
}
h2 {
  padding-top: 18px;
  font-family: bely, sans-serif;
  font-weight: 600;
}
span {
  font-family: muli, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.menuimg {
  aspect-ratio: 2/3;
  border-radius: 15px;
  margin-top: 20px;
}

.menu img {
  max-width: 340px;
  margin: auto;
}
.secondarybg {
  border-color: var(--primary);
  border-style: solid;
  border-radius: 15px;
  padding: 30px;
  margin: 20px auto;
  max-width: 600px;
}

.secondarybgr {
  border-radius: 15px;

  margin: 20px auto;

  max-width: 600px;
  margin-top: 30px;
  font-family: bely-display, sans-serif;
}
.byo {
  margin: auto;
}

.row_2 {
  grid-row: span 2;
}

.diylist {
  text-align: left;
  max-width: 260px;
  margin: auto;
  padding: 10px;
}

.diyul {
  margin: auto;
}

.titel {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}

.diykits {
  max-width: 900px;
  margin: auto;
}

.marbot {
  margin-bottom: 30px;
}

/*** grids ***/
.grid_2col_1-1_mobil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

@media (min-width: 600px) {
  .grid_2col_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .grid_2col_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    max-width: 900px;
    margin: auto;
  }
  .grid_2row_1-1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
