/*** css til menu - Emma ***/

* {
  margin: 0;
  padding: 0;
}

main {
  margin-left: 1rem;
  margin-right: 1rem;

  text-align: center;
}
h2,
p,
h1 {
  color: var(--primary);
}
h1 {
  padding-top: 20px;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.secondarybg {
  border-color: var(--secondary);
  border-color: var(--primary);
  border-style: solid;
  border-radius: 15px;
  padding: 30px;
  margin: 20px auto;
  max-width: 600px;
}

.secondarybgr {
  background-color: var(--secondary);
  background-color: var(--primary);
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  color: white;
}
.byo {
  margin: auto;
}

/*** grids ***/
@media (min-width: 600px) {
  .grid_2col_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .grid_2col_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
