/*** css til menu - Emma ***/

* {
  margin: 0;
  padding: 0;
}

main {
  margin-left: 1rem;
  margin-right: 1rem;

  text-align: center;
}
.alignleft {
  text-align: left;
}
h2,
p,
h1,
h3,
li {
  color: var(--primary);
}
h1 {
  padding-top: 20px;
}
h3,
li {
  font-size: 1.2rem;
  font-family: bely, sans-serif;
  padding-top: 14px;
}
h2 {
  padding-top: 18px;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.menu {
  margin: 20px;
  aspect-ratio: 2/3;
}
.secondarybg {
  border-color: var(--secondary);
  border-color: var(--primary);
  border-style: solid;
  border-radius: 15px;
  padding: 30px;
  margin: 20px auto;
  max-width: 600px;
}

.secondarybgr {
  background-color: var(--secondary);
  background-color: var(--primary);
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  color: white;
  max-width: 600px;
  margin-top: 30px;
}
.byo {
  margin: auto;
}

.row_2 {
  grid-row: span 2;
}

/*** grids ***/
@media (min-width: 600px) {
  .grid_2col_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .grid_2col_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
